h2 {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 40px;
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: $red-light;
    margin: 10px;
    }