.product-list-g1 {
    display: flex;
    flex-flow: row wrap;
    flex: 1 100%;
    color: #fff;
    border-radius: 5px;

    .item {
        color: $gray;
        display: flex;
        flex-wrap: wrap;
        flex: 1 25%;
        cursor: pointer;
        
        span {
            flex: 1 100%;
            margin-left: 10px;
        }
        
        span:first-child {
            margin: 10px;
            height: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            }

        .item-name {
            font-size: 30px;
            font-weight: 300;
            text-transform: uppercase;
            }
        
        .item-price {
            font-weight: 800;
            padding: 10px 0;
            color: $red-light;
            }
    }

    .item-8 {
      background-image:  url(wild-nature-relaxing-background.jpg);
    }

    .item-7 {
      background-image:  url(wild-nature-relaxing-background.jpg);
    }

    .item-6 {
      background-image:  url(wild-nature-relaxing-background.jpg);
    }

    .item-5 {
      background-image: url(wild-nature-relaxing-background.jpg);
    }

    .item-4 {
      background-image:  url(wild-nature-relaxing-background.jpg);
    }

    .item-3 {
      background-image:  url(wild-nature-relaxing-background.jpg);
    }

    .item-2 {
      background-image:  url(wild-nature-relaxing-background.jpg);
    }

    .item-1 {
      background-image:  url(wild-nature-relaxing-background.jpg);
    }
}